<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bem Vindo! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> 

  <div class="container">
    <div class="form-image">
      <img class="image" src="../../assets/icon/welcome.png" />
    </div>
    <div class="form">
      <img src="../../assets/icon/login.png" />
      <input
        id="email"
        type="email"
        name="email"
        placeholder="E-mail"
        required
      />
    </div>
    <div class="form">
      <img src="../../assets/icon/senha1.png" />
      <input
        id="password"
        type="password"
        name="password"
        placeholder="Digite sua Senha"
        required
      />
    </div>
    <div class="btn">
      <ion-button>Login</ion-button>
    </div>
  </div>
</ion-content> -->
